.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
}
.btn {
    padding: 20px;
    background: #be104a ;
    border: none;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius:0 5px 5px 0;

}
.inputField {
    width: 50%;
    border: none;
    padding: 10px;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    border-radius: 5px 0 0 5px;
}
h1 {
    font-size: 65px;
    background: linear-gradient(to right, #0c9417, #FF8C00, #FF0080);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    margin-bottom: 0;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
}
body {
    background-image: url(picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    background-color: rgb(212, 204, 188);
}
.added {
    background-color: rgb(240, 46, 110);
    font-size: 35px;
    text-align: center;
    height: fit-content;
    width: 50%;
    list-style: none;
    border-bottom: 1px solid rgb(231, 220, 220);
    padding: 10px;
    color: white;
    font-family: 'Caveat', cursive;
}
.toDoList {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.done {
    background: rgb(50, 205, 71);
    text-decoration: line-through ;
    color: black;
    font-weight: bold;
    transition: all 1s ease;
}
.askmeList {
    display: none;
    background-color: #fff;
    padding: 20px;
    font-size: 20px;
}
.modern {
    background-color: #fff;
    padding: 20px 35px;
    font-size: 20px;
    border-radius: 5px;
    line-height: 2rem;
    margin: 15px 0;
    font-family: 'Exo 2', sans-serif;
}
.modern li {
        margin: 0;
        list-style: none;
        background-image: url("check.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px;
        padding: 7px 11px 5px 28px;
}
.funcBtn {
    margin: 15px 0;
    display: flex;
    justify-content: space-evenly;
}

.save, .clearall, .askMe {
    padding: 15px;
    font-size: 20px;
    border: none;
    background-color: #f0cf74 ;
    color: white;
    border-radius: 5px;
    text-shadow: 1px 0 1px black;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
}


@media all and (max-width:1000px){
    .added {
        margin-right: 30px;
        width: 70%;
    }
}

@media all and (max-width:800px) {
    .btn {
        padding: 10px;
    }
    .added {
        margin-right: 20px;
        width: 70%;
    padding: 0 10px 25px 10px;
    }
    .inputField {
        font-size: 25px;
    }
    h1 {
        font-size: 40px;
    }
    .save, .clearall, .askMe {
        font-size: 15px;
        padding: 10px;
    }
}

@media all and (max-width:500px) {
    h1 {
        font-size: 40px;
    }
    .added {
        margin-right: 30px;
        width: 100%;
        font-size: 20px;
    }
    .inputField {
        font-size: 20px;
    }
    .modern {
        font-size: 14px;
        line-height: normal;
        padding: 15px;
        margin: auto;
    }
    .save, .clearall, .askMe {
        font-size: 15px;
        padding: 10px;
    }
}